<!--<tr><td>
<div class="panel panel-primary">
      <div class="panel-heading" ng-bind="row.question"></div>
      <div class="panel-body" ng-if="row.questionType=='single'">
	 	<div ng-repeat="(key, value) in row.selection">
	 	<div class="radio">
		  <label><input type="radio" name="row.questionNumber" value="{{key}}">{{value}}</label>
		</div>     	
		</div>
      </div>
      <div class="panel-body" ng-if="row.questionType=='multi'">
	 	<div ng-repeat="(key, value) in row.selection">
			<div class="checkbox">
			  <label><input type="checkbox" name="row.questionNumber" value="{{key}}">{{value}}</label>
			</div>   	
		</div>
      </div>   
      <div class="panel-body" ng-if="row.questionType=='match-term'">
	 	<div ng-repeat="(key, value) in row.selection">
			<div class="checkbox">
			  <label><input type="checkbox" name="row.questionNumber" value="{{key}}">{{value}}</label>
			</div>   	
		</div>
      </div>              
</div>
</td></tr>-->

